<div class="container">
  <div class="card-header">
      <strong>{{ 'Line' | translate }}</strong>
      <button type="button" class="btn btn-sm btn-success float-right" [ladda]="laddaSavingLine" (click)="saveLine()">
        <i class="fa fa-floppy-o"></i> {{'Save'|translate}}
      </button>
    </div>
  <div class="card card-body">
    <div *ngIf="loading == true" class="text-center" id="showLoader"></div>
    <div class="form-group row">
      <div class="col-md-2">{{'Insulation type'|translate}}</div>
      <div class="col-md-2">
        <select name="insulationType" id="insulationType" [(ngModel)]= "insulationTypeSelected" (change)="loadInsulationType()" class="form-control">
          <option [value]="5" placeholder="--None--">--None--</option>
          <option *ngFor="let insuParams of insulationParamShow" [value]="insuParams.value">{{insuParams.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">{{'Insulation Diameter'|translate}} (m) </div>
      <div class="col-md-2">
        <select name="diameter" [(ngModel)]="diameterSelected" id="diameter" (change)="loadDiameter()" class="form-control">
          <option [value]="0" placeholder="--None--">--None--</option>
          <option *ngFor="let param of diameterParamShow" [value]="param">{{ param }}</option>
        </select>
      </div>
    </div>
    <div class="form-group row" name="open1" >
      <div class="col-md-2">{{'Insulated line'|translate}}</div>
      <div class="col-md-3">
        <select name="insulatedline" [(ngModel)]="insulatedLineSelected" [disabled]="statusInsulatedLine" (change)="changeInsulatedLine()" id= "insulatedline" class="form-control" >
          <option [value]="0" placeholder="--None--">--None--</option>
          <option [value]="insulatedLineValue" >{{insulatedLine}}</option>
        </select>
      </div>
      <div class="col-md-1">{{'Length'|translate}} </div>
      <div class="col">
          <input type="text" [(ngModel)]= "insulllenght" [disabled]="statusInLenght" style="width:80px;" name="insulatedLineLength"> (m)
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">{{'Insulated valves'|translate}}</div>
      <div class="col-md-3">
        <select name="insularedValves" [(ngModel)]= "insulatedvalSelected" [disabled]="statusInsulatedVal" (change)= "changeInsulatedVal()" class="form-control">
          <option [value]="0" placeholder="--None--">--None--</option>
          <option  [value]="insulatedvalValue">{{insulatedval}}</option>
        </select>
      </div>
      <div class="col-md-1">{{'Number'|translate}}</div>
      <div class="col">
          <input type="text" [(ngModel)]= "insulvalnumber" [disabled]="statusInval" style="width:80px;" name="insulatedValvesLength">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">{{'Tees'|translate}}</div>
      <div class="col-md-3">
        <select name="tees" [(ngModel)]="teeSelect" (change)= "changeTee()" class="form-control">
          <option [value]="0" placeholder="--None--">--None--</option>
          <option [value]="teeValue">{{tee}}</option>
        </select>
      </div>
      <div class="col-md-1">{{'Number'|translate}}</div>
      <div class="col">
          <input type="text" [(ngModel)]= "teenumber" [disabled]="statusTee" style="width:80px;" name="teesQuantity">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">{{'Elbows'|translate}}</div>
      <div class="col-md-3">
        <select name="elbows" [(ngModel)]= "elbowsSelected" (change)="changeElbows()" class="form-control">
          <option [value]="0" placeholder="--None--">--None--</option>
          <option [value]="elbowsValue">{{elbows}}</option>
        </select>
      </div>
      <div class="col-md-1">{{'Number'|translate}}</div>
      <div class="col">
          <input type="text" [(ngModel)]= "elbowsnumber" [disabled]="statusElbow" style="width:80px;" name="elbowsQuantity">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">{{'Non-insulated line'|translate}}</div>
      <div class="col-md-3">
        <select name="nonInsulatedLine" [(ngModel)]= "noninsulatedlineSelect" (change)="changeNonInLine()" class="form-control">
          <option [value]="0" placeholder="--None--">--None--</option>
          <option [value]="non_insulated_lineValue">{{noninsulatedline}}</option>
        </select>
      </div>
      <div class="col-md-1">{{'Length'|translate}} </div>
      <div class="col">
          <input type="text" [(ngModel)]= "noninsullenght" [disabled]="statusNonInL" style="width:80px;" name="nonInsulatedLineLength"> (m)
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">{{'Non-insulated valves'|translate}}</div>
      <div class="col-md-3">
        <select name="nonInsulatedValves" [(ngModel)]= "noninsulatedvalvesSelect" (change)="changeNonInLineval()" class="form-control">
          <option [value]="0" placeholder="--None--">--None--</option>
          <option [value]="non_insulated_valValue">{{noninsulatedvalves}}</option>
        </select>
      </div>
      <div class="col-md-1">{{'Number'|translate}} </div>
      <div class="col">
          <input type="text" [(ngModel)]="noninsulatevallenght" [disabled]="statusNonInval" style="width:80px;" name="nonInsulatedValvesQuantity">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">{{'Storage tank'|translate}}</div>
      <div class="col-md-4">
        <select  name="storageTank" [(ngModel)]="storageTankSelected" id= "storageTank"  class="form-control">
          <option [value]="0" placeholder="--None--">--None--</option>
          <option *ngFor= "let stParams of storageTankParam, let i = index" [value]="storageTankValue[i]">{{ stParams }}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">{{'Equipment elevation above tank outlet'|translate}}</div>
      <div class="col-md-3">
        <input type="text" [(ngModel)]= "height" style="width:100px;" name="height"> (m)
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">{{'Tank pressure'|translate}} </div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]= "pressuer" style="width:100px;" name="pressure"> (m)
      </div>
    </div>
      <input type="hidden" [(ngModel)]= "gastemp" style="width:100px;" name="gastemp">
    </div>
</div>
