#equipment-search-box {
    position: absolute;
    top: 8px;
    left: 5px;
    width: 97%;
    span {
        position: absolute;
        top: 3px;
        right: 6px;
        z-index: 999;
        color: #a9a9a9;
    }
}