.product-container {
    a {
        cursor: pointer;
    }
}
table {
    td {        
        a {
            cursor: pointer !important;
        }
    }
    td.nowrap {
        white-space: nowrap;
    }
}