.input-small {
    padding: 3px;
}
.card-status {
    margin: auto;
    padding-top: 25px;
}
.study-search-box {
    span {
        position: absolute;
        top: 3px;
        right: 6px;
        z-index: 999;
        color: #a9a9a9;
    }
}

