<!-- Modal Optimum Mode-->
<div class="modal fade" bsModal #calcModal="bs-modal" role="dialog" aria-labelledby="calculatorModal" aria-hidden="true">
  <div id="showcalculateloading" *ngIf="isLoading"></div>
  <div class="modal-dialog modal-lg modal-primary">
      <div class="modal-content" *ngIf="!isLoading">
        <div class="modal-header">
          <strong class="modal-title pull-left">{{ 'CALCULATOR - OPTIMUM MODE' | translate }}</strong>
          <button type="button" class="close pull-right" aria-label="Close" (click)="calcModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"  *ngIf="calculate">
          <table class="table table-bordered table-sm">
            <tr>
              <th style="text-align:center">{{ 'Optimization required' | translate }}</th>
              <th style="text-align:center">{{ 'Temperature margin' | translate }}
                <br> ( °C )</th>
              <th style="text-align:center">{{ 'Enthalpy error' | translate }}
                <br> ( % )</th>
              <th style="text-align:center">{{ 'Number of iterations' | translate }}</th>
            </tr>
            <tr>
              <td align="center">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="cbOptim" id="cbOptim" [checked]="calculate.checkOptim == 1" [(ngModel)]="calculate.checkOptim">
                  <span class="custom-control-indicator"></span>
                </label>
              </td>
              <td align="center">
                <input type="text" name="epsilonTemp" id="epsilonTemp" style="width:80px;" [(ngModel)]="calculate.epsilonTemp" [disabled]="calculate.checkOptim != 1">
              </td>
              <td align="center">
                <input type="text" name="epsilonEnth" id="epsilonEnth" style="width:80px;" [(ngModel)]="calculate.epsilonEnth" [disabled]="calculate.checkOptim != 1">
              </td>
              <td align="center">
                <input type="text" name="nbOptimIter" id="nbOptimIter" style="width:80px;" [(ngModel)]="calculate.nbOptimIter" [disabled]="calculate.sdisableOptim != 1">
              </td>
            </tr>
          </table>
          <table class="table table-bordered table-sm">
            <tr>
              <th style="text-align:center" rowspan="2">
                {{ 'Time Step'|translate}}
                <br> (s)
              </th>
              <th style="text-align:center" rowspan="2">
                {{'Precision of numerical modelling'|translate}}
                <br> (%)
              </th>
              <th style="text-align:center" colspan="2">
                {{'Storage'|translate}}
              </th>
            </tr>
            <tr>
              <th style="text-align:center">{{'Access to product graph and charts'|translate}}</th>
              <th style="text-align:center">{{'Step (s)'|translate}}</th>
            </tr>
            <tr>
              <td align="center">
                <input type="text" name="timestep" id="timestep" style="width:80px;" [(ngModel)]="calculate.timeStep">
              </td>
              <td align="center">
                <input type="text" name="Precision" id="Precision" style="width:80px;" [(ngModel)]="calculate.precision">
              </td>
              <td align="center">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="cbCharts" id="cbCharts" [checked]="calculate.scheckStorage == 1"
                    [disabled]="calculate.sdisableStorage">
                  <span class="custom-control-indicator"></span>
                </label>
              </td>
              <td align="center">
                <input type="text" name="storagestep" id="storagestep" style="width:80px;" [(ngModel)]="calculate.storagestep" [disabled]="calculate.sdisableNbOptim">
              </td>
            </tr>
          </table>
          <div class="text-center">
            <button type="button" class="btn btn-secondary btn-lg" id="settbutton" (click)="openSetting()">
              <i class="icon-settings"></i>&nbsp; {{'Setting'|translate}}</button>
            <button type="button" class="btn btn-primary btn-lg" id="calcbutton" (click)="calcModal.hide();startCalculate();brainOptimum.show();loadProgressBar();" [ladda]="laddaIsCalculating">
              <i class="icon-energy"></i>&nbsp; {{'Calculate'|translate}}</button>
          </div>
          <br>
          <br>
          <!-- table settings display none -->
          <div style="display:none" id="optimumSettings">
            <strong>{{'Seized condition'|translate}}</strong>
            <br>
            <table class="table table-bordered table-sm">
              <tr>
                <th style="text-align:center" colspan="2">{{'Activation'|translate}}</th>
                <th style="text-align:center" colspan="2">{{'Max of iterations'|translate}}</th>
                <th style="text-align:center" colspan="2">{{'Coef.of relaxation'|translate}}</th>
                <th style="text-align:center" colspan="2">{{'Temperature to stop'|translate}}
                  <br>(°C)</th>
              </tr>
              <tr>
                <td align="center">{{'Horizontal'|translate}}</td>
                <td>
                  <label class="custom-control custom-radio" style="margin: 0px 0px 0px 0px;">
                    <input type="radio" class="custom-control-input" name="Hradiobutton" [checked]="calculate.hRadioOn == 1">{{'Yes'|translate}}
                    <span class="custom-control-indicator"></span>
                  </label>
                  <label class="custom-control custom-radio" style="margin: 0px 0px 0px 0px;">
                    <input type="radio" class="custom-control-input" name="Hradiobutton" [checked]="calculate.hRadioOn != 1">{{'No'|translate}}
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td rowspan="2" align="center">
                  <input type="text" name="MaxIter" id="MaxIter" style="width:80px; margin-top:20px;" [(ngModel)]="calculate.maxIter">
                </td>
                <td rowspan="2" align="center">
                  <input type="text" name="RelaxCoef" id="RelaxCoef" style="width:80px; margin-top:20px;" [(ngModel)]="calculate.relaxCoef">
                </td>
                <td style="text-align:center">{{'Surface'|translate}}</td>
                <td style="text-align:center">{{'Internal'|translate}}</td>
                <td style="text-align:center">{{'Bottom'|translate}}</td>
                <td style="text-align:center">{{'Average'|translate}}</td>
              </tr>
              <tr>
                <td align="center">{{'Vertical'|translate}}</td>
                <td>
                  <label class="custom-control custom-radio" style="margin: 0px 0px 0px 0px;">
                    <input type="radio" class="custom-control-input" name="Vradiobutton1" [checked]="calculate.vRadioOn == 1">{{'Yes'|translate}}
                    <span class="custom-control-indicator"></span>
                  </label>
                  <label class="custom-control custom-radio" style="margin: 0px 0px 0px 0px;">
                    <input type="radio" class="custom-control-input" name="Vradiobutton1" [checked]="calculate.vRadioOn != 1">{{'No'|translate}}
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td align="center">
                  <input type="text" name="TempPtSurf" id="TempPtSurf" style="width:80px;" [(ngModel)]="calculate.tempPtSurf">
                </td>
                <td align="center">
                  <input type="text" name="TempPtIn" id="TempPtIn" style="width:80px;" [(ngModel)]="calculate.tempPtIn">
                </td>
                <td align="center">
                  <input type="text" name="TempPtBot" id="TempPtBot" style="width:80px;" [(ngModel)]="calculate.tempPtBot">
                </td>
                <td align="center">
                  <input type="text" name="TempPtAvg" id="TempPtAvg" style="width:80px;" [(ngModel)]="calculate.tempPtAvg">
                </td>
              </tr>
            </table>
            <strong>{{'Following-up Point (mm)'|translate}}</strong>
            <table class="table table-bordered table-sm" style="width:500px;">
              <tr>
                <th style="text-align:center">{{'Surface'|translate}}</th>
                <th style="text-align:center">{{'Internal'|translate}}</th>
                <th style="text-align:center">{{'Bottom'|translate}}</th>
              </tr>
              <tr>
                <td align="center">
                  1
                  <select name="select1" id="select1" style="width:100px;">
                    <option *ngFor="let select of calculate.select1" [selected]="select.selected" [value]="select.value">
                      {{ select.value }}
                    </option>
                  </select>
                  <br> 2
                  <select name="select2" id="select2" style="width:100px;">
                    <option *ngFor="let select of calculate.select2" [selected]="select.selected" [value]="select.value">
                      {{ select.value }}
                    </option>
                  </select>
                  <br> 3
                  <select name="select3" id="select3" style="width:100px;">
                    <option *ngFor="let select of calculate.select3" [selected]="select.selected" [value]="select.value">
                      {{ select.value }}
                    </option>
                  </select>
                </td>
                <td align="center">
                  1
                  <select name="select4" id="select4" style="width:100px;">
                    <option *ngFor="let select of calculate.select4" [selected]="select.selected" [value]="select.value">
                      {{ select.value }}
                    </option>
                  </select>
                  <br> 2
                  <select name="select5" id="select5" style="width:100px;">
                    <option *ngFor="let select of calculate.select5" [selected]="select.selected" [value]="select.value">
                      {{ select.value }}
                    </option>
                  </select>
                  <br> 3
                  <select name="select6" id="select6" style="width:100px;">
                    <option *ngFor="let select of calculate.select6" [selected]="select.selected" [value]="select.value">
                      {{ select.value }}
                    </option>
                  </select>
                </td>
                <td align="center">
                  1
                  <select name="select7" id="select7" style="width:100px;">
                    <option *ngFor="let select of calculate.select7" [selected]="select.selected" [value]="select.value">
                      {{ select.value }}
                    </option>
                  </select>
                  <br> 2
                  <select name="select8" id="select8" style="width:100px;">
                    <option *ngFor="let select of calculate.select8" [selected]="select.selected" [value]="select.value">
                      {{ select.value }}
                    </option>
                  </select>
                  <br> 3
                  <select name="select9" id="select9" style="width:100px;">
                    <option *ngFor="let select of calculate.select9" [selected]="select.selected" [value]="select.value">
                      {{ select.value }}
                    </option>
                  </select>
                </td>
              </tr>
            </table>
          </div>
          <!-- End table settings  -->
        </div>
      </div>
  </div>
</div>
<!-- End Modal Optimum Mode -->
<!-- Modal Refine -->
<div class="modal fade" bsModal #refineModal="bs-modal" role="dialog" aria-labelledby="refineModal" aria-hidden="true">
  <div id="showcalculateloading" *ngIf="isLoading"></div>
  <div class="modal-dialog modal-lg modal-primary">
    <div class="modal-content" *ngIf="!isLoading">
      <div class="modal-header">
        <strong class="modal-title pull-left">{{ 'CALCULATOR - OPTIMUM MODE' | translate }}</strong>
        <button type="button" class="close pull-right" aria-label="Close" (click)="refineModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="brainCalculator">
        <table class="table table-bordered table-sm">
          <tr>
            <th style="text-align:center">{{ 'Residence / Dwell time (s)' | translate }}</th>
            <th style="text-align:center">{{ 'Control temperature (°C)' | translate }}</th>
            <th style="text-align:center">{{ 'Loading rate (%)' | translate }}</th>
          </tr>
          <tr>
            <td align="center">
              <input type="text" *ngFor="let ts of brainCalculator.dwellingTimes" name="ts{{ ts.name }}" id="" style="width:80px;" 
              [(ngModel)]="ts.value" [disabled]="brainCalculator.typeCalculate == 3">
            </td>
            <td align="center">
              <input type="text" *ngFor="let tr of brainCalculator.temperatures" name="tr{{ tr.name }}" id="" style="width:80px;" [(ngModel)]="tr.value">
            </td>
            <td align="center">
              <input type="text" name="toc" id="toc" style="width:80px;" [(ngModel)]="brainCalculator.toc"
               [disabled]="brainCalculator.typeCalculate  == 1 || brainCalculator.typeCalculate == 2">
            </td>
          </tr>
        </table>
        <table class="table table-bordered table-sm">
          <tr>
            <th style="text-align:center">{{ 'Optimization required' | translate }}</th>
            <th style="text-align:center">{{ 'Temperature margin' | translate }}
              <br> ( °C )</th>
            <th style="text-align:center">{{ 'Enthalpy error' | translate }}
              <br> ( % )</th>
            <th style="text-align:center">{{ 'Number of iterations' | translate }}</th>
          </tr>
          <tr>
            <td align="center">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="cbOptim" id="cbOptim" [checked]="brainCalculator.checkOptim == 1" [(ngModel)]="brainCalculator.checkOptim">
                <span class="custom-control-indicator"></span>
              </label>
            </td>
            <td align="center">
              <input type="text" name="epsilonTemp" id="epsilonTemp" style="width:80px;" [disabled]="brainCalculator.checkOptim != 1" [(ngModel)]="brainCalculator.epsilonTemp">
            </td>
            <td align="center">
              <input type="text" name="epsilonEnth" id="epsilonEnth" style="width:80px;" [disabled]="brainCalculator.checkOptim != 1" [(ngModel)]="brainCalculator.epsilonEnth">
            </td>
            <td align="center">
              <input type="text" name="nbOptimIter" id="nbOptimIter" style="width:80px;" [disabled]="brainCalculator.checkOptim != 1 || brainCalculator.typeCalculate == 3" 
              [(ngModel)]="brainCalculator.nbOptimIter">
            </td>
          </tr>
        </table>
        <table class="table table-bordered table-sm">
          <tr>
            <th style="text-align:center" rowspan="2">
              {{ 'Time Step'|translate}}
              <br> (s)
            </th>
            <th style="text-align:center" rowspan="2">
              {{'Precision of numerical modelling'|translate}}
              <br> (%)
            </th>
            <th style="text-align:center" colspan="2">
              {{'Storage'|translate}}
            </th>
          </tr>
          <tr>
            <th style="text-align:center">{{'Access to product graph and charts'|translate}}</th>
            <th style="text-align:center">{{'Step (s)'|translate}}</th>
          </tr>
          <tr>
            <td align="center">
              <input type="text" name="timestep" id="timestep" style="width:80px;" [(ngModel)]="brainCalculator.timeStep">
            </td>
            <td align="center">
              <input type="text" name="Precision" id="Precision" style="width:80px;" [(ngModel)]="brainCalculator.precision">
            </td>
            <td align="center">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="cbCharts" id="cbCharts" 
                [checked]="brainCalculator.scheckStorage == 1" [(ngModel)]="brainCalculator.scheckStorage" 
                [disabled]="brainCalculator.typeCalculate == 2 || brainCalculator.typeCalculate == 3">
                <span class="custom-control-indicator"></span>
              </label>
            </td>
            <td align="center">
              <input type="text" name="storagestep" id="storagestep" style="width:80px;" [(ngModel)]="brainCalculator.storagestep" 
              [disabled]="brainCalculator.scheckStorage != 1">
            </td>
          </tr>
        </table>
        <div class="text-center">
          <button type="button" class="btn btn-secondary btn-lg" id="settbutton" (click)="openSetting()">
            <i class="icon-settings"></i>&nbsp; {{'Setting'|translate}}</button>
          <button type="button" class="btn btn-primary btn-lg" id="calcbutton" (click)="startBrainOptimumCalculate()" [ladda]="laddaIsCalculating">
            <i class="icon-energy"></i>&nbsp; {{'Calculate'|translate}}</button>
        </div>
        <br>
        <br>
        <!-- table settings display none -->
        <div style="display:none" id="optimumSettings">
          <strong>{{'Seized condition'|translate}}</strong>
          <br>
          <table class="table table-bordered table-sm">
            <tr>
              <th style="text-align:center" colspan="2">{{'Activation'|translate}}</th>
              <th style="text-align:center" colspan="2">{{'Max of iterations'|translate}}</th>
              <th style="text-align:center" colspan="2">{{'Coef.of relaxation'|translate}}</th>
              <th style="text-align:center" colspan="2">{{'Temperature to stop'|translate}}
                <br>(°C)</th>
            </tr>
            <tr>
              <td align="center">{{'Horizontal'|translate}}</td>
              <td>
                <label class="custom-control custom-radio" style="margin: 0px 0px 0px 0px;">
                  <input type="radio" class="custom-control-input" name="Hradiobutton1" [checked]="brainCalculator.hRadioOn == 1">{{'Yes'|translate}}
                  <span class="custom-control-indicator"></span>
                </label>
                <label class="custom-control custom-radio" style="margin: 0px 0px 0px 0px;">
                  <input type="radio" class="custom-control-input" name="Hradiobutton1" [checked]="brainCalculator.hRadioOn != 1">{{'No'|translate}}
                  <span class="custom-control-indicator"></span>
                </label>
              </td>
              <td rowspan="2" align="center">
                <input type="text" name="MaxIter" id="MaxIter" style="width:80px; margin-top:20px;" [(ngModel)]="brainCalculator.maxIter">
              </td>
              <td rowspan="2" align="center">
                <input type="text" name="RelaxCoef" id="RelaxCoef" style="width:80px; margin-top:20px;" [(ngModel)]="brainCalculator.relaxCoef">
              </td>
              <td style="text-align:center">{{'Surface'|translate}}</td>
              <td style="text-align:center">{{'Internal'|translate}}</td>
              <td style="text-align:center">{{'Bottom'|translate}}</td>
              <td style="text-align:center">{{'Average'|translate}}</td>
            </tr>
            <tr>
              <td align="center">{{'Vertical'|translate}}</td>
              <td>
                <label class="custom-control custom-radio" style="margin: 0px 0px 0px 0px;">
                  <input type="radio" class="custom-control-input" name="Vradiobutton1" [checked]="brainCalculator.vRadioOn == 1">{{'Yes'|translate}}
                  <span class="custom-control-indicator"></span>
                </label> 
                <label class="custom-control custom-radio" style="margin: 0px 0px 0px 0px;">
                  <input type="radio" class="custom-control-input" name="Vradiobutton1" [checked]="brainCalculator.vRadioOn != 1">{{'No'|translate}}
                  <span class="custom-control-indicator"></span>
                </label>
              </td>
              <td align="center">
                <input type="text" name="TempPtSurf" id="TempPtSurf" style="width:80px;" [(ngModel)]="brainCalculator.tempPtSurf">
              </td>
              <td align="center">
                <input type="text" name="TempPtIn" id="TempPtIn" style="width:80px;" [(ngModel)]="brainCalculator.tempPtIn">
              </td>
              <td align="center">
                <input type="text" name="TempPtBot" id="TempPtBot" style="width:80px;" [(ngModel)]="brainCalculator.tempPtBot">
              </td>
              <td align="center">
                <input type="text" name="TempPtAvg" id="TempPtAvg" style="width:80px;" [(ngModel)]="brainCalculator.tempPtAvg">
              </td>
            </tr>
          </table>
          <strong>{{'Following-up Point (mm)'|translate}}</strong>
          <table class="table table-bordered table-sm" style="width:500px;">
            <tr>
              <th style="text-align:center">{{'Surface'|translate}}</th>
              <th style="text-align:center">{{'Internal'|translate}}</th>
              <th style="text-align:center">{{'Bottom'|translate}}</th>
            </tr>
            <tr>
              <td align="center">
                1
                <select name="select1" id="select1" style="width:100px;">
                  <option *ngFor="let select of brainCalculator.select1" [selected]="select.selected" [value]="select.value">
                    {{ select.value }}
                  </option>
                </select>
                <br> 2
                <select name="select2" id="select2" style="width:100px;">
                  <option *ngFor="let select of brainCalculator.select2" [selected]="select.selected" [value]="select.value">
                    {{ select.value }}
                  </option>
                </select>
                <br> 3
                <select name="select3" id="select3" style="width:100px;">
                  <option *ngFor="let select of brainCalculator.select3" [selected]="select.selected" [value]="select.value">
                    {{ select.value }}
                  </option>
                </select>
              </td>
              <td align="center">
                1
                <select name="select4" id="select4" style="width:100px;">
                  <option *ngFor="let select of brainCalculator.select4" [selected]="select.selected" [value]="select.value">
                    {{ select.value }}
                  </option>
                </select>
                <br> 2
                <select name="select5" id="select5" style="width:100px;">
                  <option *ngFor="let select of brainCalculator.select5" [selected]="select.selected" [value]="select.value">
                    {{ select.value }}
                  </option>
                </select>
                <br> 3
                <select name="select6" id="select6" style="width:100px;">
                  <option *ngFor="let select of brainCalculator.select6" [selected]="select.selected" [value]="select.value">
                    {{ select.value }}
                  </option>
                </select>
              </td>
              <td align="center">
                1
                <select name="select7" id="select7" style="width:100px;">
                  <option *ngFor="let select of brainCalculator.select7" [selected]="select.selected" [value]="select.value">
                    {{ select.value }}
                  </option>
                </select>
                <br> 2
                <select name="select8" id="select8" style="width:100px;">
                  <option *ngFor="let select of brainCalculator.select8" [selected]="select.selected" [value]="select.value">
                    {{ select.value }}
                  </option>
                </select>
                <br> 3
                <select name="select9" id="select9" style="width:100px;">
                  <option *ngFor="let select of brainCalculator.select9" [selected]="select.selected" [value]="select.value">
                    {{ select.value }}
                  </option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <!-- End table settings  -->
      </div>
    </div>
  </div>
</div>
<!-- End Modal Refine -->
<!-- Model Estimation Mode -->
<div class="modal fade" bsModal #estimationMode="bs-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div id="showcalculateloading" *ngIf="isLoading"></div>
    <div class="modal-content" *ngIf="!isLoading">
      <div class="modal-header">
        <strong class="modal-title pull-left">{{ 'CALCULATOR - ESTIMATION MODE' | translate }}</strong>
        <button type="button" class="close pull-right" aria-label="Close" (click)="estimationMode.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align:center">
        <strong class="modal-title txt-estimation">{{ 'Launch The Preliminary Calculation.' | translate }}</strong>
        <div class="btn-estimation">
          <button class="btn btn-secondary btn-lg" (click)="estimationMode.hide()">Cancel</button>
          <button class="btn btn-primary btn-lg" style="margin-left:20px;" (click)="startEstimation()" [ladda]="laddaIsCalculating">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Model Estimation Mode -->
<!-- Brain Estimation Mode -->
<div class="modal fade" bsModal #brainCalculate="bs-modal" role="dialog" aria-hidden="true">
  <!-- <app-spinner *ngIf="isLoading"></app-spinner> -->
  <div id="showcalculateloading" *ngIf="isLoading"></div>
  <div class="modal-dialog modal-lg modal-primary" role="document">
    <div *ngIf="!isLoading">
      <div class="modal-content" *ngIf="brainCalculator">
        <div class="modal-header">
          <strong class="modal-title pull-left">{{ 'START BRAINCALCULATOR' | translate }}</strong>
          <button type="button" class="close pull-right" aria-label="Close" (click)="brainCalculate.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="brainSetting">
            <strong>{{ 'Seized condition' | translate }}</strong>
            <br>
            <table class="table table-bordered table-sm">
              <tr>
                <th style="text-align:center" colspan="2">{{ 'Activation' | translate }}</th>
                <th style="text-align:center">{{ 'Max of iterations' | translate }}</th>
                <th style="text-align:center">{{ 'Coef.of relaxation' | translate }}</th>
                <th style="text-align:center">{{ 'Precision of numerical modelling(%)' | translate }}</th>
                <th style="text-align:center" colspan="4">{{ 'Temperature to stop' | translate }}
                  <br>(°C)</th>
              </tr>
              <tr>
                <td style="vertical-align:middle">{{ 'Horizontal' | translate }}</td>
                <td>
                  <label class="custom-control custom-radio" style="margin: 0px 0px 0px 0px;">
                    <input type="radio" class="custom-control-input" name="Hradiobutton" [checked]="brainCalculator.hRadioOn == 1">{{ 'Yes' | translate }}
                    <span class="custom-control-indicator"></span>
                  </label>
                  <label class="custom-control custom-radio" style="margin: 0px 0px 0px 0px;">
                    <input type="radio" class="custom-control-input" name="Hradiobutton" [checked]="brainCalculator.hRadioOn != 1">{{ 'No' | translate }}
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td rowspan="2" style="vertical-align:middle">
                  <input type="text" name="MaxIter" id="maxIter" style="width:80px; margin-top:20px;" [(ngModel)]="brainCalculator.maxIter">
                </td>
                <td style="vertical-align:middle" rowspan="2">
                  <input type="text" name="RelaxCoef" id="relaxCoef" style="width:80px; margin-top:20px;" [(ngModel)]="brainCalculator.relaxCoef">
                </td>
                <td style="vertical-align:middle" rowspan="2" align="center">
                  <input type="text" name="Precision" id="" style="width:80px; margin-top:20px;" [(ngModel)]="brainCalculator.precision">
                </td>
                <td style="vertical-align:middle" align="center">{{ 'Surface' | translate }}</td>
                <td style="vertical-align:middle" align="center">{{ 'Internal' | translate }}</td>
                <td style="vertical-align:middle" align="center">{{ 'Bottom' | translate }}</td>
                <td style="vertical-align:middle" align="center">{{ 'Average' | translate }}</td>
              </tr>
              <tr>
                <td style="vertical-align:middle">{{ 'Vertical' | translate }}</td>
                <td>
                  <label class="custom-control custom-radio" style="margin: 0px 0px 0px 0px;">
                    <input type="radio" class="custom-control-input" name="Vradiobutton" [checked]="brainCalculator.vRadioOn == 1">{{ 'Yes' | translate }}
                    <span class="custom-control-indicator"></span>
                  </label>
                  <label class="custom-control custom-radio" style="margin: 0px 0px 0px 0px;">
                    <input type="radio" class="custom-control-input" name="Vradiobutton" [checked]="brainCalculator.vRadioOn != 1">{{ 'No' | translate }}
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td style="vertical-align:middle">
                  <input type="text" name="TempPtSurf" id="" style="width:80px;" [(ngModel)]="brainCalculator.tempPtSurf">
                </td>
                <td style="vertical-align:middle">
                  <input type="text" name="TempPtIn" id="" style="width:80px;" [(ngModel)]="brainCalculator.tempPtIn">
                </td>
                <td style="vertical-align:middle">
                  <input type="text" name="TempPtBot" id="" style="width:80px;" [(ngModel)]="brainCalculator.tempPtBot">
                </td>
                <td style="vertical-align:middle">
                  <input type="text" name="TempPtAvg" id="" style="width:80px;" [(ngModel)]="brainCalculator.tempPtAvg">
                </td>
              </tr>
            </table>
            <div class="row">
              <div class="col-md-6">
                <strong>{{ 'Step number' | translate }}</strong>
                <table class="table table-bordered table-sm">
                  <tr>
                    <th style="text-align:center">{{ 'Precision log step' | translate }}</th>
                    <th style="text-align:center">{{ 'Storage step(s)' | translate }}</th>
                    <th style="text-align:center">{{ 'Time Step(s)' | translate }}</th>
                  </tr>
                  <tr>
                    <td align="center">
                      <input type="text" name="precisionlog" id="" style="width:80px;height:30px;" [(ngModel)]="brainCalculator.precisionlogstep">
                    </td>
                    <td align="center">
                      <input type="text" name="storagestep" id="" style="width:80px;height:30px;" [(ngModel)]="brainCalculator.storagestep">
                    </td>
                    <td align="center">
                      <input type="text" name="timestep" id="" style="width:80px;height:30px;" [(ngModel)]="brainCalculator.timeStep">
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <strong>{{ 'Following-up Point (mm)' | translate }}</strong>
                <table class="table table-bordered table-sm">
                  <tr>
                    <th style="text-align:center">{{ 'Surface' | translate }}</th>
                    <th style="text-align:center">{{ 'Internal' | translate }}</th>
                    <th style="text-align:center">{{ 'Bottom' | translate }}</th>
                  </tr>
                  <tr>
                    <td align="center">
                      1
                      <select name="select1" id="select1" style="width:100px;">
                        <option *ngFor="let select of brainCalculator.select1" [selected]="select.selected" [value]="select.value">
                          {{ select.value }}
                        </option>
                      </select>
                      <br> 
                      2
                      <select name="select2" id="select2" style="width:100px;">
                        <option *ngFor="let select of brainCalculator.select2" [selected]="select.selected" [value]="select.value">
                          {{ select.value }}
                        </option>
                      </select>
                      <br> 
                      3
                      <select name="select3" id="select3" style="width:100px;">
                        <option *ngFor="let select of brainCalculator.select3" [selected]="select.selected" [value]="select.value">
                          {{ select.value }}
                        </option>
                      </select>
                    </td>
                    <td align="center">
                      1
                      <select name="select4" id="select4" style="width:100px;">
                        <option *ngFor="let select of brainCalculator.select4" [selected]="select.selected" [value]="select.value">
                          {{ select.value }}
                        </option>
                      </select>
                      <br> 
                      2
                      <select name="select5" id="select5" style="width:100px;">
                        <option *ngFor="let select of brainCalculator.select5" [selected]="select.selected" [value]="select.value">
                          {{ select.value }}
                        </option>
                      </select>
                      <br> 
                      3
                      <select name="select6" id="select6" style="width:100px;">
                        <option *ngFor="let select of brainCalculator.select6" [selected]="select.selected" [value]="select.value">
                          {{ select.value }}
                        </option>
                      </select>
                    </td>
                    <td align="center">
                      1
                      <select name="select7" id="select7" style="width:100px;">
                        <option *ngFor="let select of brainCalculator.select7" [selected]="select.selected" [value]="select.value">
                          {{ select.value }}
                        </option>
                      </select>
                      <br> 
                      2
                      <select name="select8" id="select8" style="width:100px;">
                        <option *ngFor="let select of brainCalculator.select8" [selected]="select.selected" [value]="select.value">
                          {{ select.value }}
                        </option>
                      </select>
                      <br> 
                      3
                      <select name="select9" id="select9" style="width:100px;">
                        <option *ngFor="let select of brainCalculator.select9" [selected]="select.selected" [value]="select.value">
                          {{ select.value }}
                        </option>
                      </select>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div align="center">
            <button class="btn btn-secondary btn-lg" (click)="brainCalculate.hide()">{{ 'Cancel' | translate }}</button>
            <button class="btn btn-primary btn-lg" (click)="calculWithoutOpti.show();brainCalculate.hide();startBrainEstimationCalculate();">{{ 'Calculate without optimization' | translate }}</button>
            <button class="btn btn-primary btn-lg" (click)="calculWithOpti.show();brainCalculate.hide();saveCalculOptim();loadBrainOptim();">{{ 'Calculate with optimization' | translate }}</button>
            <button class="btn btn-secondary btn-lg" (click)="hideSetting()">
              <i class="icon-settings"></i>&nbsp; {{ 'Setting' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Brain Estimation Mode -->
<!-- Brain withOut Optinum -->
<div class="modal fade" role="dialog" aria-hidden="true" bsModal #calculWithoutOpti="bs-modal">
  <div class="modal-dialog modal-primary">
    <div class="modal-content">
      <div class="modal-header">
        <strong>{{'WAITING' | translate }}</strong>
        <button type="button" class="close pull-right" aria-label="Close" (click)="calculWithoutOpti.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong align="center">{{ 'Please Wait While Cryosoft Starts The High Level Calculation.' | translate }}</strong>
        <div align="center">
          <img src="/assets/img/calculator/waiting.gif" style="width:100px;height:100px">
          <!-- <div class="processingcalculate"></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Brain withOut Optimum -->
<!-- Brain with OPtimum -->
<div class="modal fade" bsModal #calculWithOpti="bs-modal" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content"  *ngIf="brainOptim">
      <div class="modal-header">
        <strong>{{ 'BRAIN - OPTIMIZATION' | translate }}</strong>
        <button type="button" class="close pull-right" aria-label="Close" (click)="calculWithOpti.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="custom-control custom-radio">
          <input type="radio" name="brainoptim" id="" class="custom-control-input" [(ngModel)]="brainOptim.BRAIN_OPTIM"
          [value]="brainOptim.BRAIN_OPTIM_TSFIXED" [checked]="brainOptim.BRAIN_OPTIM == 1">
          <span class="custom-control-indicator"></span>
          {{ 'fixed Dwelling Time' | translate }}
        </label>
        <br>
        <label class="custom-control custom-radio">
          <input type="radio" name="brainoptim" id="" class="custom-control-input" [(ngModel)]="brainOptim.BRAIN_OPTIM" 
          [value]="brainOptim.BRAIN_OPTIM_TRFIXED" [checked]="brainOptim.BRAIN_OPTIM != 1">
          <span class="custom-control-indicator"></span>
          {{ 'fixed Control Temperature' | translate }}
        </label>
        <br>
        <label class="custom-control custom-radio">
          <input type="radio" name="brainoptim" id="" class="custom-control-input" disabled [(ngModel)]="brainOptim.BRAIN_OPTIM_DHPFIXED">
          <span class="custom-control-indicator"></span>
          {{ 'fixed production rate' | translate }}
        </label>
        <br>
        <label class="custom-control custom-radio">
          <input type="radio" name="brainoptim" id="" class="custom-control-input" disabled [(ngModel)]="brainOptim.BRAIN_OPTIM_TOPFIXED">
          <span class="custom-control-indicator"></span>
          {{ 'fixed product belt coverage' | translate }}
        </label>
        <br>
        <label class="custom-control custom-radio">
          <input type="radio" name="brainoptim" id="" class="custom-control-input" disabled [(ngModel)]="brainOptim.BRAIN_OPTIM_COSTFIXED">
          <span class="custom-control-indicator"></span>
          {{ 'fixed Processing Cost' | translate }}
        </label>
        <br>
        <p>{{ 'Optimization manages the Control Temperature/Residence/Dwell Time relationship, according to your preference.' | translate }}</p>
        <div align="center">
          <button class="btn btn-secondary btn-lg" (click)="calculWithOpti.hide()">{{ 'Cancel' | translate }}</button>
          <button class="btn btn-primary btn-lg" (click)="startBrainCalculOptim();" [ladda]="laddaIsCalculating"><i class="icon-energy"></i>&nbsp; {{ 'Calculate' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Brain with Optimum -->

<!-- Brain Optinum -->
<div class="modal fade" role="dialog" aria-hidden="true" bsModal #brainOptimum="bs-modal">
  <div class="modal-dialog modal-primary">
    <div class="modal-content">
      <div class="modal-header">
        <strong>{{'WAITING' | translate }}</strong>
        <button type="button" class="close pull-right" aria-label="Close" (click)="calculWithoutOpti.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong align="center">{{ 'Please Wait While Cryosoft Starts The High Level Calculation.' | translate }}</strong>
        <div align="center">
          <img src="/assets/img/calculator/waiting.gif" style="width:100px;height:100px">
          <!-- <div class="processingcalculate"></div> -->
        </div>
        <div *ngIf="progressbar">
          <div class="progress-calculate" *ngFor="let progress of progressbar.studyEquipments">
            <div class="progress-name">{{progress.EQUIP_NAME}}</div>
            <div class="progress-study">
              <progress-bar [progress]="100" [color]="'#488aff'"></progress-bar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Brain Optimum -->