<div class="container">
  <div class="card product-container">
    <div class="card-header">
      <strong>Initial temperature of the product</strong>
      <div class="card-actions">
        <a>
          <i class="fa fa-pencil-square-o"></i>
        </a>
      </div>
    </div>
    <div class="card-body">

    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

  <div class="card">
    <div class="card-header">
      <strong>Initial temperatures of the product components</strong>
      <div class="float-right">
        <button type="button" class="btn btn-sm btn-outline-success">
          <i class="fa fa-plus"></i> Add
        </button>
      </div>
    </div>
    <jqxGrid [theme]='"metro"' #myGrid [width]="'100%'">
    </jqxGrid>
  </div>

</div>